{
    "titleId": "SLKT00001",
    "applicationCategoryType": 65536,
    "deeplinkUri": "http://127.0.0.1:1022/app/index.html",
    "localizedParameters": {
        "defaultLanguage": "en-US",
        "en-US": {
            "titleName": "WK Autoloader"
        }
    }
}
